*.backup
*.old
.sass-cache/
public/js/ag-enterprise-activation.js
public/js/ag-grid-*.*
public/js/jackbox*.*
public/css/jackbox*.*
public/css/font*.*
public/css/pure.css
public/css/grids-responsive.css
public/fonts
.dm_report_list.yml
hold/
