  <nav role="navigation" id="nav">
              <input class="trigger" type="checkbox" id="mainNavButton">
              <label for="mainNavButton" onclick>Menu</label>
        <ul class="pure-menu-list">
          <li><a href="/">Home</a></li>
          <li><a href="/finance/payment_terms/payment_terms/">Payment terms</a></li>
          <li><a href="/test">Test VIEW</a></li>
          <li><a href="/grid">Grid</a></li>
          <li><a href="/lay">Layout</a></li>
          <li><a href="/search/users">Search Users</a></li>
          <li><a href="/list/active_users">Active Users</a></li>
          <li><a href="/finance/payment_terms/payment_terms/">Payment Terms</a></li>
          <li>
            <a href="#" id="menuLink1">Payment Terms</a>
            <ul>
              <li><a href="/list/payment_terms">List</a></li>
              <li><a href="/finance/payment_terms/payment_terms/new">New</a></li>
              <li><a href="/search/payment_terms">Search</a></li>
            </ul>
          </li>
          <li>
            <a href="#" id="menuLink1">Label Designer</a>
            <ul>
              <li><a href="/label_designer/new">new</a></li>
              <li><a href="/label_designer/blue">Blue</a></li>
              <li><a href="/label_designer/green">Green</a></li>
            </ul>
          </li>
          <li><a href="/dataminer/">Dataminer</a></li>
          <li><a href="/dataminer/admin">Dataminer Admin</a></li>
          <!--li style="color:yellow"> <%#= env['warden'].user ? env['warden'].user.name : 'not logged-in' %> </li-->
          <%# if env['warden'].user && env['warden'].user.name #session[:user_id] %>
            <li><a href="/users">Users</a></li>
            <li>
              <form action="/logout" method="post" class="navbar-form">
                <%#= csrf_tag %>
                <input type="submit" value="Logout">
              </form>
            </li>
          <%# else %>
            <li><a href="/login">Login</a></li>
          <%# end %>
        </ul>

         <% if session[:user_id] %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="posts/new">New Post</a></li>
          </ul>
        <% end %>
      <!--/div-->
    </nav>
