<div class="db dt-ns mw9 center w-100">
    <div class="db dtc-ns v-mid tl w-50">
      <a href="/" class="dib f5 f4-ns fw6 mt0 mb2 link dark-green" title="Home">
        KR Roda Framework
        <div class="dib">
          <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">v0.1.0</small>
        </div>
      </a>
    </div>
    <div class="nowrap f6">
      JC Silberbauer
        <div class="dib">
          <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">IT department</small>
        </div>
    </div>
    <nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
      <a href="/logout" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib" title="Logout">logout</a>
    </nav>
</div>
