<div class="db dt-ns mw9 center w-100">
    <div class="db dtc-ns v-mid tl w-50">
      <a href="/" class="dib f5 f4-ns fw6 mt0 mb2 link dark-green" title="Home">
        KR new Framework
        <div class="dib">
          <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">v0.1.0</small>
        </div>
      </a>
    </div>
</div>
