<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Roda Frame</title>

    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%#= stylesheet 'pure', 'grids-responsive', 'crossbeams-layout', 'font-awesome.min' %>
    <link rel="stylesheet" href="/css/pure.css">
    <link rel="stylesheet" href="/css/grids-responsive.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <%= assets(:css) %>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/finance/payment_terms/payment_terms/">Payment terms</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/test">Test VIEW</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/grid">Grid</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/lay">Layout</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/search/users">Search Users</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/list/active_users">Active Users</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/finance/payment_terms/payment_terms/">Payment Terms</a></li>
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Payment Terms</a>
            <ul class="pure-menu-children">
              <li class="pure-menu-item"><a href="/list/payment_terms" class="pure-menu-link">List</a></li>
              <li class="pure-menu-item"><a href="/finance/payment_terms/payment_terms/new" class="pure-menu-link">New</a></li>
              <li class="pure-menu-item"><a href="/search/payment_terms" class="pure-menu-link">Search</a></li>
            </ul>
          </li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/<%=ENV['DM_PREFIX']%>">Dataminer</a></li>
          <!--li style="color:yellow"> <%#= env['warden'].user ? env['warden'].user.name : 'not logged-in' %> </li-->
          <%# if env['warden'].user && env['warden'].user.name #session[:user_id] %>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/users">Users</a></li>
            <li class="pure-menu-item">
              <form action="/logout" method="post" class="navbar-form">
                <%#= csrf_tag %>
                <input type="submit" value="Logout" class="pure-menu-link">
              </form>
            </li>
          <%# else %>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/login">Login</a></li>
          <%# end %>
        </ul>

         <% if session[:user_id] %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="posts/new">New Post</a></li>
          </ul>
        <% end %>
      </div>
    </nav>
    <hr>
    <div class="container">
      <div class="page-header">Roda Frame</div>
      <%= yield %>
    </div>

    <script src="/js/ag-grid-enterprise.js"></script>
    <script src="/js/ag-enterprise-activation.js"></script>
    <script src="/js/crossbeams-local-storage.js"></script>
    <script src="/js/crossbeams-utils.js"></script>
    <script src="/js/crossbeams-layout.js"></script>
    <script src="/js/crossbeams-data-miner-params.js"></script>
    <script src="/js/crossbeams-grid-loader.js"></script>
    <%#= javascript 'ag-grid-enterprise', 'ag-enterprise-activation', 'crossbeams-local-storage', 'crossbeams-utils', 'crossbeams-layout', 'crossbeams-data-miner-params', 'crossbeams-grid-loader' %>

    <%= content_for :late_javascript %>
  </body>
</html>
